*.mfd
*.lfd
/Code/RoomQuery/RoomQuery/App_Data/*.ldf
/Code/RoomQuery/RoomQuery/App_Data/*.mdf
/Code/RoomQuery/RoomQuery/Migrations/201710240157125_InitDatabase.Designer.cs
/Code/RoomQuery/RoomQuery/Migrations/201710240157125_InitDatabase.cs
/Code/RoomQuery/RoomQuery/Migrations/201710240157125_InitDatabase.resx
