
@{
    ViewBag.Title = "InsertData";
}
<div><h2><font size="8"><b>Insert Data</b></font></h2></div>

<form action="/Data/Submit" method="POST" >
    <input type="text" name="nuid" />
    <input type="submit" value="Submit" />
</form>
  


