
@{
    ViewBag.Title = "InsertData";
}
<div><h2><font size="8"><b>Insert Data</b></font></h2></div>
<p>
    Enter an NUID into the text box to indicate the student has scanned their Ncard at the SRC.
</p>
<form action="/Data/Submit" method="POST">
    <input type="text" name="nuid" />
    <input type="submit" value="Scan Ncard" />
</form>

<p>&nbsp;</p>
<p>
    Enter properly formatted multi-line timestamp data into the text box to populate
    the database with mock historical data.
</p>
<form action="/Data/BulkUpload" method="POST">
    <input type="text" name="dataString" />
    <input type="submit" value="Upload Data" />
</form>

