
@{
    ViewBag.Title = "InsertData";
}
<div><h2><font size="8"><b>Check In / Out</b></font></h2></div>
<p>
    Enter an NUID into the text box to indicate the student has scanned their Ncard at the SRC.
</p>
<form action="/Data/Submit" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" name="nuid" />
    </div>

    <button class="btn btn-default" type="submit" value="Scan Ncard">Submit</button>
</form>
