
@{
    ViewBag.Title = "Professor";
}

<h2>Professor</h2>


<head>
    <title>SRC Usage</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="http://www.chartjs.org/dist/2.7.1/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>

<body>
    <canvas id="myChart"></canvas>
    <canvas id="numStudentsWeek"></canvas>
</body>
@section Scripts {
    @Scripts.Render("~/Scripts/numStudentsWeek.js")
}