
@{
    ViewBag.Title = "Professor";
}

<h2>Professor</h2>


<head>
    <title>SRC Usage</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="http://www.chartjs.org/dist/2.7.1/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>

<body>
    <center><h1>SRC Population</h1></center>
    <canvas id="myChart"></canvas>
    <br>
    <form action="/Home/GetData">
        <input type="submit" value="Export SRC Week Data" />
    </form>
    <br>
    <br>

    <center><h1>Course SRC Usage by Uses</h1></center>
    <canvas id="numStudentsWeek"></canvas>
    <br>
    <form action="/Professor/GetHoursClassUsage">
        <input type="submit" value="Export Hours Per Week" />
    </form>
    <br>
    <br>

    <center><h1>Course SRC Usage by Hours</h1></center>
    <canvas id="courseHoursSRCWeek"></canvas>
    <br>
    <form action="/Professor/GetDataNumStudentUsage">
        <input type="submit" value="Export Uses Per Week" />
    </form>
    <br>
    <br>
</body>
@section Scripts {
    @Scripts.Render("~/Scripts/populationChart.js")
    @Scripts.Render("~/Scripts/numStudentsWeek.js")
    @Scripts.Render("~/Scripts/courseHoursWeek.js")
}